.side-buttons {
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
  }
  
  .side-buttons button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background : none;
  }

.side-buttons div nav ul li button img {
  filter: brightness(0); /* Иконки черные до нажатия */
}

/* .side-buttons button.active img,
.active-img {
  filter: brightness(1) !important; 
} */

@keyframes wave {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

.side-buttons nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.side-buttons nav {
  background-color: rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  padding: 60px 0px;
}