.home-section{
  overflow: hidden; /* Предотвращение бокового скроллинга */
  width: 100vw; /* Ограничение ширины экрана */
}

.ill{
  position: absolute;
  top: 0;
  left: 0;
}
.group{
  position: absolute;
  bottom: -200px;
  right: 0;
}

.introduction{
  color: white;
  width: 720px;
  height: 344px;
  z-index: 1;
  margin-right: 250px;
}

.introduction h1{
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.introduction .buttons{
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.introduction .buttons button {
  width: 200px;
  height: 50px;
  margin: 0 10px;
  border: none;
  background: linear-gradient(45deg, rgba(255,255,255,0.6), #000000);
  color: #0F103F;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px; /* Округление кнопок */
}

.introduction .buttons button:nth-child(2) {
  background: linear-gradient(45deg, #C961DE, #2954A3); /* Градиент для второго батона */
  color: white; /* Цвет текста для лучшей читаемости */
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}