
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height:min-content;
}

.App {
  display: flex;
  flex-direction: column;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F103F;
  font-size: 2rem;
}